boto3>=1.26.0,<2.0
psycopg2-binary>=2.9.0,<3.0
python-dotenv>=0.21.0
# FastAPI e dependências
fastapi==0.135.2
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic-core==2.41.5
sqlalchemy==2.0.48
# ASGI adapter para Lambda
mangum==0.17.0
# Utilitários
annotated-types==0.7.0
anyio==4.13.0
click==8.3.1
dnspython==2.8.0
email-validator==2.3.0
greenlet==3.2.5
h11==0.16.0
idna==3.11
starlette==1.0.0
typing-extensions==4.15.0
typing-inspection==0.4.2
